body {
    background-color: #BECEED;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

h1 {
    font-family: "Montserrat", serif;
    font-size: 48px;
}

.header h2 {
    font-family: "Montserrat", serif;
    font-size: 25px;
    color: #fff;
}

h2, p {
    font-family: "Montserrat", serif;
    font-size: 20px;
}

h2 {
    color: #820000;
}

.header {
    background-color: #114170;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
    background-color: #f5f5f5;
    margin: 40px;
    border-radius: 8px;
}

.footer {
    background-color: #114170;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

.footer a{
    color: #fff;
}